        </main>
        <footer class="fixed-bottom bg-primary ">
            <p class="mb-0 text-center text-white-50">© <%= new Date().getFullYear() %> Your Blog, Inc</p>
        </footer>
        <script>
            const postArray =  <%- JSON.stringify(postArray) %>;
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous">
        </script>
        
        <script src="/js/index.js"></script>

    </body>

</html>